.banner-background {
  background-image: url(/src/assets/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.ssss {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.6) 65%,
    rgba(0, 0, 0, 0.2) 82%,
    rgba(0, 0, 0, 0) 100%
  );
}
