.graph-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.graph-line.draw {
  animation: drawLine 1.6s ease-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* .graph-dot {
  opacity: 0;
}

.graph-dot.show {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 1.2s;
} */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-luxury:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px #ffb3474d;
}

.btn-luxury:hover:before {
  height: 500px !important;
  width: 500px !important;
}

.btn-luxury {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
  position: relative !important;
  overflow: hidden !important;
}

.btn-luxury:before {
  content: '';
  background: #ffffff26;
  border-radius: 50%;
  width: 0;
  height: 0;
  transition:
    width 0.6s,
    height 0.6s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
