.graph-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.graph-line.draw {
  animation: drawLine 1.6s ease-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* .graph-dot {
  opacity: 0;
}

.graph-dot.show {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 1.2s;
} */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
